date-picker {
    position: relative;
    display: block;
}

date-picker .picker-popup {
    /*position: absolute;
    right: 0px;
    z-index: 10;
    display: block;*/
    left: auto;
    right: 0px;
    padding: 5px;

    border: 1px solid silver;
    background-color: #f2f2f2;
}

date-picker .picker-popup thead,
date-picker .picker-popup table {
    border-bottom: 1px solid #5F82D9;
}

date-picker .picker-popup td {
    padding: 5px;
    text-align: center;
    cursor: pointer;
    color: #337ab7;
}

date-picker .picker-popup td:hover,
date-picker .picker-popup td:focus {
    color: #23527c;
    text-decoration: underline;
}

date-picker .picker-popup td.invalid,
date-picker .picker-popup td.invalid:hover{
    color: grey;
    cursor: inherit;
    text-decoration: inherit;
}

date-picker .picker-popup td.selected {
    background-color: white;
}

date-picker .picker-popup td.today {
    color: #f25b15;
}

date-picker .picker-popup td.calendarWeek,
date-picker .picker-popup td.dayOfWeek {
    background-color: #5F82D9;
    color: white;
    cursor: inherit;
    text-decoration: inherit !important;
}

date-picker .picker-popup td.outside {
    background-color: #cfcfcf;
}


date-picker table {
    margin-bottom: 5px;
}

date-picker.ng-invalid input {
    border-color: red !important;
}

date-picker .bottom-buttons {
    text-align: right;
}