<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
    <meta charset="UTF-8">
    <title>Angular Bootstrao Datepicker Demo</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="../dist/DatePicker.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment-with-locales.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.5/moment-timezone-with-data.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment-range/2.2.0/moment-range.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <script type="text/javascript" src="../dist/DatePickerFinal.js"></script>
    <script type="text/javascript" src="App.js"></script>


</head>
<body ng-controller="AppController">

    <form name="submitForm">
        <p>Small Datepicker example</p>
        UTC Date: {{currentDate}}

        Europe GMT+1
        <date-picker name="europe" ng-model="currentDate" start-date="minDate" end-date="maxDate" timezone="Europe/Zurich"></date-picker>

        Asia/Tokyo
        <date-picker name="asia" ng-model="currentDate" start-date="minDate" end-date="maxDate" timezone="Asia/Tokyo"></date-picker>

        America/Los Angeles
        <date-picker name="america" ng-model="currentDate" start-date="minDate" end-date="maxDate" timezone="America/Los_Angeles"></date-picker>


        <input type="submit" style="visibility: hidden" />
    </form>


</body>
</html>
